# Plugin configuration
PLUGIN_SRC_PATH=/path/to/your/plugin
PLUGIN_DEST_NAME=your-plugin-name

WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DEBUG=1
WORDPRESS_CONFIG_EXTRA="define('WP_DEBUG_LOG', true); define('WP_DEBUG_DISPLAY', false);"

# You can override these values by setting environment variables before running docker-compose
# Example: export PLUGIN_SRC_PATH=/path/to/your/plugin
# Example: export PLUGIN_DEST_NAME=your-plugin-name
